<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/login_page.css" />
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <title>메인 페이지</title>



    <script>
        // 이미 로그인 상태인 경우
        const cookie = document.cookie;
        if (cookie) {
            alert("이미 로그인이 되어있습니다. ");
            window.location.replace("/");
        };
        // 로그인 버튼 클릭시 호출
        function checkRightUser() {
            const userNickname = $("#nickname-input").val();
            const userPassword = $("#pwd-input").val();

            // 이메일 입력이 비어있을 경우
            if (userNickname === "") {
                alert("닉네임을 입력해주세요.");
                $("#nickname-input").focus();
                return;
            }
            // 비밀번호 입력이 비어있을 경우
            if (userPassword === "") {
                alert("비밀번호를 입력해주세요.");
                $("#pwd-input").focus();
                return;
            }

            $.ajax({
                type: "post",
                url: `/api/user/auth`,
                data: {
                    userNickname: userNickname,
                    userPassword: userPassword,
                },
                success: function (response) {
                    alert(response["message"]);
                    window.location.replace("/"); // 성공시 메인페이지로 경로이동
                },
                error: function (error) {
                    alert(error.responseJSON.errorMessage);

                }
            });

        }
    </script>
</head>

<body>
    <div class="wrap">
        <!-- nav bar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Jongwan's Blog</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">뒤로 가기</a>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>
        <div class="top-empty-box"></div>
        <div class="container">
            <div class="title-box"></div>
            <div class="login-wrap">
                <div class="nickname-input-box">
                    <input type="text" id="nickname-input" class="nickname-input" placeholder="닉네임을 입력해주세요.">
                </div>
                <div class="pwd-input-box">
                    <input type="password" id="pwd-input" class="pwd-input" placeholder="비밀번호를 입력해주세요.">
                </div>
                <div class="login-btn-box">
                    <button id="login-btn" type="button" class="btn btn-success login-btn"
                        onclick="checkRightUser()">로그인</button>
                </div>
            </div>

        </div>
    </div>
</body>

</html>