<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- CSS 불러오기 -->
    <link href="/signup_page.css" rel="stylesheet" />
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <title>메인 페이지</title>
    <script>

        // 로그인 되어 있는 경우, 페이지 접근 금지.
        const cookie = document.cookie;
        if (cookie) {
            alert("이미 로그인이 되어있습니다. ");
            window.location.replace("/");
        };

        //회원 등록 버튼 클릭시 호출
        function registUser() {
            const userNickname = $("#nickname-input").val();
            const userPassword = $("#pwd-input").val();
            const userPasswordConfirm = $("#pwd-confirm-input").val();

            // 한개라도 비어있을 경우, 함수에서 내보내기
            if (!checkEmptyInput(userNickname, userPassword, userPasswordConfirm)) {
                return;
            }
            // 비밀번호가 일치하지 않는 경우 내보내기
            if (!checkMatchPassword(userPassword, userPasswordConfirm)) {
                return;
            }

            // 닉네임은 최소 3자 이상, 알파벳 대소문자(a~z, A~Z), 숫자(0~9)로 구성.
            if (!checkNicknameValidation(userNickname)) {
                return;
            }

            // 비밀번호는 최소 4자 이상, 닉네임과 같은 값이 포함된 경우 회원가입 실패
            if (!checkPasswordValidation(userNickname, userPassword)) {
                return;
            }

            $.ajax({
                type: "post",
                url: `/api/user/register`,
                data: {
                    userNickname: userNickname,
                    userPassword: userPassword,
                },
                success: function (response) {
                    alert('회원등록을 성공적으로 완료하였습니다.');
                    window.location.href = "/login"; //성공시 로그인페이지로 경로이동
                },
                error: function (error) {
                    alert(error.responseJSON.errorMessage);
                    $("#nickname-input").focus();
                }
            });

        }

        // 비밀번호는 최소 4자 이상, 닉네임과 같은 값이 포함된 경우 회원가입 실패
        function checkPasswordValidation(userNickname, userPassword) {
            // 비밀번호 4자 이상 입력 안했을 경우
            if (userPassword.length < 4) {
                alert("비밀번호는 최소 4자 이상 입력해주세요.");
                $("#pwd-input").focus();
                return false;
            }

            // 닉네임과 같은 값이 포함된 경우 
            if (userPassword.includes(userNickname)) {
                alert("비밀번호 안에 닉네임과 같은 값이 포함되면 안됩니다.");
                $("#pwd-input").focus();
                return false;
            }
            return true;
        }

        // 닉네임은 최소 3자 이상, 알파벳 대소문자, 숫자로만 구성 가능하게끔 하는 함수
        function checkNicknameValidation(userNickname) {

            // 3자 이상 입력 안했을 경우.
            if (userNickname.length < 3) {
                alert("닉네임은 최소 3자 이상 입력해주세요.");
                $("#nickname-input").focus();
                return false;
            }

            // 대소문자 숫자 이외의 것이 포함되어 있을 경우
            const nicknameValidation = /^[a-zA-Z0-9]*$/;
            if (!nicknameValidation.test(document.getElementById("nickname-input").value)) {
                alert("닉네임은 숫자, 알파벳으로만 구성 가능합니다.");
                $("#nickname-input").focus();
                return false;
            }
            return true;
        }
        // 고객이 적지 않은 정보가 있는지 체크
        function checkEmptyInput(userNickname, userPassword, userPasswordConfirm) {
            if (userNickname === "") {
                alert("닉네임을 입력해주세요.");
                $("#nickname-input").focus();
                return false;
            }
            if (userPassword === "") {
                alert("비밀번호를 입력해주세요.");
                $("#pwd-input").focus();
                return false;
            }
            if (userPasswordConfirm === "") {
                alert("비밀번호를 입력해주세요.");
                $("#pwd-confirm-input").focus();
                return false;
            }
            return true
        }

        // 비밀번호가 일치하는지 여부 확인하는 함수
        function checkMatchPassword(userPassword, userPasswordConfirm) {
            if (userPassword !== userPasswordConfirm) {
                alert("비밀번호가 일치하지 않습니다.");
                $("#pwd-input").focus();
                return false;
            }
            return true;
        }
    </script>
</head>

<body>
    <div class="wrap">
        <!-- nav bar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Jongwan's Blog</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">뒤로 가기</a>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>
        <div class="top-empty-box"></div>
        <div class="container">
            <div class="title-box"></div>
            <div class="signup-wrap">
                <div class="nickname-box">
                    <input type="text" id="nickname-input" class="nickname-input" placeholder="닉네임을 입력해주세요.">
                </div>
                <div class="pwd-box">
                    <input type="password" id="pwd-input" class="pwd-input" placeholder="비밀번호를 입력해주세요.">
                </div>
                <div class="pwd-confirm-box">
                    <input type="password" id="pwd-confirm-input" class="pwd-confirm-input"
                        placeholder="비밀번호를 다시 한 번 입력해주세요.">
                </div>
                <div class="signup-btn-box">
                    <button id="signup-btn" type="button" class="btn btn-success signup-btn" onclick="registUser()">회원
                        등록</button>
                </div>
            </div>

        </div>
    </div>
</body>

</html>